! https://wiki.manjaro.org/index.php?title=Improve_Font_Rendering
! https://linuxreviews.org/HOWTO_set_DPI_in_Xorg
! xrdb -query|grep dpi
! Dell 40" UW
Xft.dpi: 140
Xft.antialias: true
Xft.autohint: false
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! no giant mouse
Xcursor.size: 14
