/*
debug: env GTK_DEBUG=interactive ghostty
https://docs.gtk.org/gtk4/css-overview.html
https://docs.gtk.org/gtk4/css-properties.html
*/

headerbar {
  margin: 0;
  padding: 0;
  min-height: 20px;
}

tabbar tabbox {
  margin: 0;
  padding: 0;
  min-height: 10px;
  background-color: #11111b;
  font-family: "SauceCodePro Nerd Font Mono";
}

tabbar tabbox tab {
  margin: 0;
  padding: 0;
  color: #cdd6f4;
}

tabbar tabbox tab:selected {
  background-color: #1e1e2e;
}

tabbar tabbox tab label {
  font-size: 12px;
}
