[Unit]
Description=spotifyd

[Service]
ExecStart=/bin/spotifyd --no-daemon
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=default.target
